In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/cleansed/cle_grants_employment_startups.csv')

In [3]:
data

,year,amount_requested_Culture,amount_requested_Sport,amount_granted_Culture,amount_granted_Sport,amount_given_Culture,amount_given_Sport,nr_one_off_Culture,nr_one_off_Sport,nr_periodic_Culture,nr_periodic_Sport,nr_subsidies_Culture,nr_subsidies_Sport,amount_requested_Total,amount_granted_Total,amount_given_Total,nr_subsidies_Total,startups_in_sport_culture,employers_sports_culture,employees_sports_culture
0,2016,3314060.67,3007982.24,2082725.84,2744956.71,2078632.28,2675571.41,127.0,48.0,22.0,20.0,149.0,68.0,6322042.91,4827682.55,4754203.69,217.0,1178.0,14590,25443
1,2017,80231568.41,2651958.81,78702906.59,1844397.50,77784362.59,1542359.50,208.0,31.0,66.0,14.0,274.0,45.0,82883527.22,80547304.09,79326722.09,319.0,1188.0,14957,25949
2,2018,81085866.57,2961184.52,78660651.22,2391249.07,77765617.52,1635196.35,214.0,46.0,61.0,0.0,275.0,46.0,84047051.09,81051900.29,79400813.87,321.0,1129.0,15517,26820
3,2019,81679800.65,3629040.94,80455808.80,2194447.34,2868955.36,823125.81,185.0,29.0,27.0,0.0,212.0,29.0,85308841.59,82650256.14,3692081.17,241.0,1116.0,15514,26939
4,2020,92836634.09,552204.69,90353610.81,410738.07,410045.21,3066.30,99.0,1.0,1.0,0.0,100.0,1.0,93388838.78,90764348.88,413111.51,101.0,NaN,16286,27672