In [30]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [153]:
sport_facilities = pd.read_excel('../datasets/# of sport facilities.xlsx')
sport_facilities = sport_facilities.rename(columns={'7.3.1  Sportaccommodaties naar soort, 1 juli 2016-2020' : 'Sportfacilities',
                                                   'Unnamed: 1' : '2016', 'Unnamed: 2' : '2017', 'Unnamed: 3' : '2018',
                                                   'Unnamed: 4' : '2019', 'Unnamed: 5' : '2020'}).reset_index()

sport_facilities = sport_facilities.dropna()
sport_facilities = sport_facilities.set_index('Sportfacilities')
sport_facilities = sport_facilities.drop(['index'], axis = 1)

sport_facilities = sport_facilities.rename(index={
'test' : 'Football Fields (grass)',
'voetbalvelden kunstgras (rubber- of kurkingestrooid)' : 'Football Fields (synthetic)',
'voetbaltrainingsvelden/hoeken' : 'Football training fields',
'korfbalvelden' : 'Basketball Fields',
'hockeyvelden (w.v. kunstgras)' : 'Hockey Fields (synthetic)',
'handbalvelden' : 'Hand Ball Fields',
'rugbyvelden (waarvan kunstgras)' : 'Rugby Fields (grass + synthetic)',
'honkbalvelden' : 'Baseball Fields',
'softbalvelden' : 'Soft Ball Fields',
'cricketvelden' : 'Cricket Fields',
'american footballvelden' : 'American Football Fields',
'lacrossevelden' : 'Lacrosse Fields',
'Frisebeevelden' : 'Frisbee Fields',
'beachcentrum (outdoor velden)' : 'Beach Center (Outdoor Fields)',
'kaatsvelden' : 'Pelota Fields',
'atletiekbanen' : 'Athletic circuits',
'tennisbanen' : 'Tennis Fields',
'golfbanen' : 'Golf Ranges',
'midgetgolfbanen' : 'Mini-Golf Ranges',
'wielercircuits' : 'Cycling Circuits',
'landijsbanen' : 'natural ice skate tracks',
'kunstijsbanen' : 'non natural ice skate tracks',
'klimmuren' : 'Climbing Walls',
'zwembaden' : 'Swimming Pools',
'roei-/kanobaan' : 'Rowing track',
'sporthallen (veld 20x40m)' : 'sportcenter',
'    aantal speelvloeren 20x40m' : 'Playing fields',
'zwembaden' : 'Swimming Pools',
'tennisbanen (hallen)' : 'Tennis (inside)',
'squashbanen (centra)' : 'Squash (inside)',
'bowlingcentra' : 'Bowling Alleys',
'schietsportaccomodatie' : 'Shooting Ranges',
'wielerbaan' : 'Cycling Track',
'ijshal' : 'Icehall'})

sport_facilities = sport_facilities.transpose()


import re
sport_facilities['voetbalvelden gras (w.v. wetra)'] = sport_facilities['voetbalvelden gras (w.v. wetra)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['Hockey Fields (synthetic)'] = sport_facilities['Hockey Fields (synthetic)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['Rugby Fields (grass + synthetic)'] = sport_facilities['Rugby Fields (grass + synthetic)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['Beach Center (Outdoor Fields)'] = sport_facilities['Beach Center (Outdoor Fields)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['Tennis (inside)'] = sport_facilities['Tennis (inside)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['Squash (inside)'] = sport_facilities['Squash (inside)'].apply(
    lambda x: re.sub('\(.*\)', '', x))
sport_facilities['handboogbanen (centra)'] = sport_facilities['handboogbanen (centra)'].apply(
    lambda x: re.sub('\(.*\)', '', x))

sport_facilities.head(20)

    
sport_facilities = sport_facilities.apply(pd.to_numeric)
sport_facilities.dtypes

sport_facilities['Total facilities sum'] = sport_facilities.sum(axis=1)

Total = pd.DataFrame(sport_facilities['Total facilities sum']) 
Total

      Total facilities sum
2016                   832
2017                   825
2018                   811
2019                   811
2020                   803

In [94]:
# Export comma-separated variable file
sport_facilities.to_csv('../../ProjectAmsterdam/2sport_facilities_export.csv', index=True)

In [160]:
cause_death = pd.read_excel('../Datasets/#_-cause-of-death-2015-2019.xlsx')

cause_death = cause_death.rename(columns={'Unnamed: 1' : '2015', 'Unnamed: 2' : '2016', 'Unnamed: 3' : '2017',
                                          'Unnamed: 4' : '2018', 'Unnamed: 5' : '2019'}).reset_index()
cause_death = cause_death.rename(columns={'7.2.8      Sterfte naar doodsoorzaken in Amsterdam en Nederland, 2015-2019' : 'Cause of Death'})

cause_death = cause_death.dropna()
cause_death = cause_death.set_index('Cause of Death')
cause_death = cause_death.drop(['index'], axis = 1)

cause_death = cause_death.reset_index()
cause_death2 = cause_death.loc[(cause_death['Cause of Death']=='ziekten van hart en vaatstelsel') |
                              (cause_death['Cause of Death']=='totaal')]

cause_death2 = cause_death2.set_index('Cause of Death')
cause_death2 = cause_death2.rename(index={
    'ziekten van hart en vaatstelsel' : 'Heart- & artery disease',
    'totaal' : 'total'
})
cause_death2 = cause_death2.transpose()
cause_death2.head(10)

cause_death3 = cause_death2.iloc[:,[0,1,4,5]]
cause_death3 = cause_death3.reset_index()



lst = ["Year", "Heart- & Artery Disease", "Total", "Heart- & Artery Disease(%)", "Total(%)"]
cause_death3.columns = lst

cause_death3 = cause_death3.set_index('Year')
cause_death3 = cause_death3.drop(['2015'])
cause_death3 = cause_death3.append(pd.Series(name='2020'))
cause_death3


#First Heart & Artery Disease is for Amsterdam against the total of diseases in Amsterdam, then for the Netherlands and
#then given in percentages. RENAME THE COLUMNS ACCORDINGLY

<ipython-input-160-c546bcbc45ed>:33: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cause_death3 = cause_death3.append(pd.Series(name='2020'))

     Heart- & Artery Disease Total Heart- & Artery Disease(%) Total(%)
Year
2016                    1294  5517                       23.5      100
2017                    1206  5169                       23.3      100
2018                    1175  5374                       21.9      100
2019                    1155  5248                         22      100
2020                     NaN   NaN                        NaN      NaN

In [97]:
# Export comma-separated variable file
cause_death2.to_csv('../../ProjectAmsterdam/2cause_death_export.csv', index=True)

In [98]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [184]:
sportpeople = pd.read_excel('../Datasets/_ of people sporting.xlsx')

sportpeople = sportpeople.rename(columns={'7.3.4  Amsterdammers van 5-80 jaar die een of meer keer per week en maand 1) sporten  ' : '% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport',
                                                   'Unnamed: 1' : '2017 November', 'Unnamed: 2' : '2018 April', 'Unnamed: 3' : '2018 November',
                                                   'Unnamed: 4' : '2019 April', 'Unnamed: 5' : '2020 April'}).reset_index()

sportpeople = sportpeople.dropna()
sportpeople = sportpeople.set_index('% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport')
sportpeople = sportpeople.drop(['index'], axis = 1)

sportpeople.head(25)

sportpeople = sportpeople.rename(index={
    'een of meer keer per week' : 'One or more times a week',
    'een of meer keer per maand' : 'One or more times a month',
    'fitness individueel' : 'Fitness (individually)',
    'hardlopen/joggen' : 'Sprinting/Jogging',
    'wandelsport' : 'Hiking',
    'zwemsport' : 'Swimming',
    'fitness in een groep' : 'Fitness in group',
    'yoga' : 'Yoga',
    'wielrennen' : 'Cycling',
    'voetbal' : 'Football',
    'danssport' : 'Dancing'
})
sportpeople = sportpeople.transpose()
sportpeople = sportpeople.drop(['2018 April'])
sportpeople = sportpeople.rename(index = {'2017 November' : '2017', '2018 November' : '2018', '2019 April' : '2019',
                                         '2020 April' : '2020'})
# sportpeople = sportpeople.drop(['2016'])



# sportpeople = sportpeople.iloc[0] = ['2016']
sportpeople = sportpeople.append(pd.Series(name='2016')).reset_index()
sportpeople = sportpeople.sort_values(by=['index'])
sportpeople = sportpeople.set_index('index')
sportpeople

<ipython-input-184-0ca280792d64>:35: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sportpeople = sportpeople.append(pd.Series(name='2016')).reset_index()

% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing
index,,,,,,,,,,,
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,66,74,26,13,12,11,9,9,4,5,5
2018,70,76,28,15,12,11,10,9,5,8,6
2019,72,78,29,17,13,11,11,9,8,8,5
2020,62,68,26,24,21,-,-,10,14,3,2

In [100]:
# Export comma-separated variable file
sportpeople.to_csv('../../ProjectAmsterdam/2sportpeople.csv', index=True)

In [220]:
#Merge sportpeople, cause_death3, Total. On 'Year'
import numpy as np
Data = pd.concat([sportpeople, cause_death3, Total], axis=1)
Data['Swimming'] = Data['Swimming'].apply(lambda x: x.replace('-', '0') if type(x) is str else x)
Data['Fitness in group'] = Data['Fitness in group'].apply(lambda x: x.replace('-', '0') if type(x) is str else x)
Data = Data.apply(pd.to_numeric)
Data.dtypes
Data = Data.rename(columns={'Total' : 'Total diseases'})
Data

,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing,Heart- & Artery Disease,Total diseases,Heart- & Artery Disease(%),Total(%),Total facilities sum
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294.0,5517.0,23.5,100.0,832
2017,66.0,74.0,26.0,13.0,12.0,11.0,9.0,9.0,4.0,5.0,5.0,1206.0,5169.0,23.3,100.0,825
2018,70.0,76.0,28.0,15.0,12.0,11.0,10.0,9.0,5.0,8.0,6.0,1175.0,5374.0,21.9,100.0,811
2019,72.0,78.0,29.0,17.0,13.0,11.0,11.0,9.0,8.0,8.0,5.0,1155.0,5248.0,22.0,100.0,811
2020,62.0,68.0,26.0,24.0,21.0,0.0,0.0,10.0,14.0,3.0,2.0,NaN,NaN,NaN,NaN,803

In [225]:
Data.to_csv('../Project-Amsterdam/data/cleansed/Facilities_Diseases.csv', index = True)
# os.getcwd()