In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr

In [2]:
data_fd = pd.read_csv('../data/cleansed/Facilities_Diseases.csv')

In [3]:
data_fd

,Unnamed: 0,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing,Heart- & Artery Disease,Total diseases,Heart- & Artery Disease(%),Total(%),Total facilities sum
0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294.0,5517.0,23.5,100.0,832
1,2017,66.0,74.0,26.0,13.0,12.0,11.0,9.0,9.0,4.0,5.0,5.0,1206.0,5169.0,23.3,100.0,825
2,2018,70.0,76.0,28.0,15.0,12.0,11.0,10.0,9.0,5.0,8.0,6.0,1175.0,5374.0,21.9,100.0,811
3,2019,72.0,78.0,29.0,17.0,13.0,11.0,11.0,9.0,8.0,8.0,5.0,1155.0,5248.0,22.0,100.0,811
4,2020,62.0,68.0,26.0,24.0,21.0,0.0,0.0,10.0,14.0,3.0,2.0,NaN,NaN,NaN,NaN,803

In [7]:
# data_fd = data_fd.drop(columns=['Heart- & Artery Disease(%)', 'Total(%)'])
data_fd = data_fd.rename(columns={'Unnamed: 0' : 'year'})
data_fd

,year,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing,Heart- & Artery Disease,Total diseases,Total facilities sum
0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294.0,5517.0,832
1,2017,66.0,74.0,26.0,13.0,12.0,11.0,9.0,9.0,4.0,5.0,5.0,1206.0,5169.0,825
2,2018,70.0,76.0,28.0,15.0,12.0,11.0,10.0,9.0,5.0,8.0,6.0,1175.0,5374.0,811
3,2019,72.0,78.0,29.0,17.0,13.0,11.0,11.0,9.0,8.0,8.0,5.0,1155.0,5248.0,811
4,2020,62.0,68.0,26.0,24.0,21.0,0.0,0.0,10.0,14.0,3.0,2.0,NaN,NaN,803

# PERCENTAGE GROWTH

In [11]:
data_per_growth = data_fd.pct_change()
data_per_growth['year'] = data_fd.reset_index()['year']
data_per_growth = data_per_growth.set_index('year')
data_per_growth.transpose()
#No data for 2016 so NaN and since no data for 2016 no growth can be calculated into 2017, so NaN as well.

year                       2016      2017      2018      2019      2020
One or more times a week    NaN       NaN  0.060606  0.028571 -0.138889
One or more times a month   NaN       NaN  0.027027  0.026316 -0.128205
Fitness (individually)      NaN       NaN  0.076923  0.035714 -0.103448
Sprinting/Jogging           NaN       NaN  0.153846  0.133333  0.411765
Hiking                      NaN       NaN  0.000000  0.083333  0.615385
Swimming                    NaN       NaN  0.000000  0.000000 -1.000000
Fitness in group            NaN       NaN  0.111111  0.100000 -1.000000
Yoga                        NaN       NaN  0.000000  0.000000  0.111111
Cycling                     NaN       NaN  0.250000  0.600000  0.750000
Football                    NaN       NaN  0.600000  0.000000 -0.625000
Dancing                     NaN       NaN  0.200000 -0.166667 -0.600000
Heart- & Artery Disease     NaN -0.068006 -0.025705 -0.017021  0.000000
Total diseases              NaN -0.063078  0.039660 -0.023446  0.000000
Total facilities sum        NaN -0.008413 -0.016970  0.000000 -0.009864

# CORRELATION

In [36]:
data_fd

year                          2016     2017     2018     2019   2020
One or more times a week       nan    66.00    70.00    72.00  62.00
One or more times a month      nan    74.00    76.00    78.00  68.00
Fitness (individually)         nan    26.00    28.00    29.00  26.00
Sprinting/Jogging              nan    13.00    15.00    17.00  24.00
Hiking                         nan    12.00    12.00    13.00  21.00
Swimming                       nan    11.00    11.00    11.00   0.00
Fitness in group               nan     9.00    10.00    11.00   0.00
Yoga                           nan     9.00     9.00     9.00  10.00
Cycling                        nan     4.00     5.00     8.00  14.00
Football                       nan     5.00     8.00     8.00   3.00
Dancing                        nan     5.00     6.00     5.00   2.00
Heart- & Artery Disease   1,294.00 1,206.00 1,175.00 1,155.00    nan
Total diseases            5,517.00 5,169.00 5,374.00 5,248.00    nan
Total facilities sum        832.00   825.00   811.00   811.00 803.00

In [56]:
# data_fd = data_fd.transpose()
# data_fd = data_fd.set_index('year')
# data_fd = data_fd.drop(columns=['2016', '2020'])
# np.isinf(data_fd).any()
data_fd = data_fd.fillna(0)
data_fd = data_fd.transpose()
data_fd

,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing,Heart- & Artery Disease,Total diseases,Total facilities sum
year,,,,,,,,,,,,,,
2016,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"1,294.00","5,517.00",832.00
2017,66.00,74.00,26.00,13.00,12.00,11.00,9.00,9.00,4.00,5.00,5.00,"1,206.00","5,169.00",825.00
2018,70.00,76.00,28.00,15.00,12.00,11.00,10.00,9.00,5.00,8.00,6.00,"1,175.00","5,374.00",811.00
2019,72.00,78.00,29.00,17.00,13.00,11.00,11.00,9.00,8.00,8.00,5.00,"1,155.00","5,248.00",811.00
2020,62.00,68.00,26.00,24.00,21.00,0.00,0.00,10.00,14.00,3.00,2.00,0.00,0.00,803.00

In [57]:
df1 = data_fd.loc[:, data_fd.columns]
df2 = data_fd.loc[:, data_fd.columns]

# np.isnan(df1).any()
# np.isnan(df2).any()

coeffmat = np.zeros((df1.shape[1], df2.shape[1]))
pvalmat = np.zeros((df1.shape[1], df2.shape[1]))

for i in range(df1.shape[1]):    
    for j in range(df2.shape[1]):        
        corrtest = pearsonr(df1[df1.columns[i]], df2[df2.columns[j]])  
        coeffmat[i,j] = corrtest[0]
        pvalmat[i,j] = corrtest[1]
        
dfpvals = pd.DataFrame(pvalmat, columns=df2.columns, index=df1.columns)
print('correlation significance')
dfpvals

correlation significance

,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing,Heart- & Artery Disease,Total diseases,Total facilities sum
One or more times a week,0.00,0.00,0.00,0.08,0.10,0.20,0.19,0.00,0.28,0.06,0.06,0.70,0.76,0.17
One or more times a month,0.00,0.00,0.00,0.08,0.10,0.20,0.20,0.00,0.28,0.07,0.06,0.70,0.76,0.18
Fitness (individually),0.00,0.00,0.00,0.06,0.08,0.23,0.22,0.00,0.24,0.08,0.08,0.64,0.70,0.15
Sprinting/Jogging,0.08,0.08,0.06,0.00,0.00,0.76,0.74,0.03,0.02,0.37,0.45,0.17,0.20,0.02
Hiking,0.10,0.10,0.08,0.00,0.00,0.83,0.82,0.03,0.02,0.46,0.50,0.13,0.16,0.05
Swimming,0.20,0.20,0.23,0.76,0.83,0.00,0.00,0.36,0.82,0.05,0.02,0.35,0.31,0.89
Fitness in group,0.19,0.20,0.22,0.74,0.82,0.00,0.00,0.37,0.87,0.03,0.02,0.36,0.31,0.82
Yoga,0.00,0.00,0.00,0.03,0.03,0.36,0.37,0.00,0.16,0.16,0.15,0.47,0.51,0.12
Cycling,0.28,0.28,0.24,0.02,0.02,0.82,0.87,0.16,0.00,0.70,0.84,0.05,0.06,0.03
Football,0.06,0.07,0.08,0.37,0.46,0.05,0.03,0.16,0.70,0.00,0.01,0.75,0.67,0.37
Dancing,0.06,0.06,0.08,0.45,0.50,0.02,0.02,0.15,0.84,0.01,0.00,0.66,0.60,0.55
Heart- & Artery Disease,0.70,0.70,0.64,0.17,0.13,0.35,0.36,0.47,0.05,0.75,0.66,0.00,0.00,0.19
Total diseases,0.76,0.76,0.70,0.20,0.16,0.31,0.31,0.51,0.06,0.67,0.60,0.00,0.00,0.23
Total facilities sum,0.17,0.18,0.15,0.02,0.05,0.89,0.82,0.12,0.03,0.37,0.55,0.19,0.23,0.00